.# Visual Studio
.vs/
*.suo
*.user
*.bak
*.orig
*.~*

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Dd]ist/

# Visual Studio 2017 and newer
.vs/
.vs/bin/
.vs/obj/
.vs/MistsOfThelema/

# Compiled files and binaries
*.exe
*.dll
*.pdb
*.xml
*.cache
*.resources

# NuGet packages
packages/

# Rider
.idea/
*.sln.DotSettings
*.userprefs

# Unity
Library/
Temp/
Obj/
Build/
Builds/
Assets/Plugins/Editor/
Assets/Plugins/External/